[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Code for the My Health Clinic web application upgraded to Visual Studio 2017
[access "refs/*"]
	owner = group user/shabmama
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/shabmama
	label-Verified = -1..+1 group user/shabmama
	push = group user/shabmama
	read = group user/shabmama
	rebase = group user/shabmama
	removeReviewer = group user/shabmama
	submit = group user/shabmama
[access "refs/heads/*"]
	create = group user/shabmama
	push = +force group user/shabmama
	pushMerge = group user/shabmama
	read = group user/shabmama
[access "refs/tags/*"]
	push = group user/shabmama
	push = +force group user/shabmama
